/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.text{
    padding:  0 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: hsl(212, 45%, 89%);
    height: calc(100vh - 1px);
    font-family: 'Outfit', sans-serif;
}

/* containeer */
.wrapper{
       max-width: 360px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    margin: 0 20px 20px 20px;
}

/* image */
img{
    border-radius: 20px;
    max-width:100%;
    padding: 12px;
}
  /* texts */
h1{
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    margin-bottom: 20px;
}
p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin-bottom: 20px;
}

footer a{
    text-decoration: none;
    color:  #ff66ff;
}